<h1> Assign a Task </h1>

<!-- this is a form to assign a task to a user and assign a status: open, closed, working, follow_up -->


<!-- form tag for assignment

Drop down > label task_id show @task.title 
Drop down > label user_id show @user.username 
Check box > label status show :status (make selections from 4 options: open, closed, working, and follow-up ) -->



<%= form_for (@assignment) do |f| %>

<%= f.collection_select :task_id, Task.all, :id, :title%>

<%= f.collection_select :user_id, User.all, :id, :username%>

<%= f.label "Status" %>
<%= f.text_field :status %>

<%= f.submit %>

<% end %>