<body>
    <h1>Add a Task</h1>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    

    <div class="container">
        <%= form_for(@task) do |f| %>
        <div class="row">
            <div class="col-25">
                <%= f.label :title %>
                </div>
            <div class="col-75">   
                <%= f.text_field :title %>
                </div>
            </div>
        <div class="row">
            <div class="col-25">
            <%= f.label :description %>
            </div>
            <div class="col-75">
            <%= f.text_area :description %>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            <%= f.label :priority %>
            </div>
            <div class="col-75">
            <%= f.select :priority, ["Medium", "High", "Low"]%>
            </div>
        </div>
        <div class="row">
            <%= f.submit %>
        </div>
      <% end %>

</body>  





