<!DOCTYPE html>
<html>
  <head>
    <title>Xponent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
  <img src="/images/Xponent_logo.png" style="width:350px;height:350px;">
</header>
  <body>
    
    <div class="topnav">
      <% if !logged_in? %>
        <%= link_to "Sign Up", signup_path %> | <%= link_to "Log In", login_path %> | <%= link_to('Log in with Facebook!', '/auth/facebook') %>
      <% else %>
        <%= link_to 'Home', root_path %>%>
        <%= link_to "Add a Task", new_task_path %> |
        <%= link_to "All Tasks", tasks_path %> | 
        <%= link_to "Assign a Task", new_assignment_path %> |
        <%= link_to "Current Assignments Board", assignments_path %> |
        <%= link_to "Logout", logout_path, method: "delete" %>
      <% end %>
    </div>

    <div>
      <% if flash[:message] %>
        <%= flash[:message]%>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
