<!DOCTYPE html>
<html>
  <head>
    <title>Xponent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<header> 

<h1><img src="/images/Xponent_logo.png" style="width:350px;height:350px;"><h1>

</header>

  <body>
    
    <div class="topnav">
      <% if !logged_in? %>
        <%= link_to "Sign Up", signup_path %>  <%= link_to "Log In", login_path %>  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
      <% else %>
        <%= link_to 'Home', root_path %>
        <%= link_to "Add a Task", new_task_path %> 
        <%= link_to "Assign a Task", new_assignment_path %> 
        <%= link_to "Comment on a Task", new_comment_path %>
        <%= link_to "Logout", logout_path, method: "delete" %>
      <% end %>
   
    </div>

    <div>
      <% if flash[:message] %>
        <%= flash[:message]%>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
